@import "media-queries.scss";
@import "card.scss";
@import "transition.scss";

$fontfamily: 'Lato', sans-serif;
$navbarbackground : #111f2e;
$primaryhighlight: #00DF9A;
$primarytext: #c2c9dd;
$secondarytext: #9da7c9;

*{
    font-family: $fontfamily;
}

body {
    background-color: #151d29;
    background-image: linear-gradient(135deg, #222f3f 0%, #142233 35%, #000000 100%);
    color: #bdc4d8;
    font-size: 16px;
    font-family: $fontfamily;
}
a {
    color: #bdc4d8;
    text-decoration: none;
    font-size: 1rem;
    :hover {
        color: #c8d1e9;
    }
}
h1 {
    color: #c2c9dd;
    display: inline;
}
h2 {
    color: $secondarytext;
}
h3 {
    color: $primarytext;
}
h4 {    
    color: $primaryhighlight;
    display: inline;
    font-size: 2.25rem;

}
h5,
h6 {
    color: #bdc4d8;
}
p {
    color: $primarytext;
    font-size: 1rem;
}
header {
    background-color: #1A2634;
    color: #bdc4d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 0px 50px;
}
footer {
    position: relative;
    left: 0px;
    bottom: 0px;
    color: #bdc4d8;
    text-align: center;
}

main {
    color: #bdc4d8; 
}
ul {
    list-style: none;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 1000px;
    width: 80vw;
    margin-top: 30vh;
}
.landing {
    height: 60vh;
    margin-top: 40px;
    margin-bottom: 40px;
}
.about {
    margin-top: 60px;
    margin-bottom: 60px;
}
.contact {
    margin-top: 60px;
    margin-bottom: 60px;
}


//Navbar classes
.navbar-main {
    background-color: $navbarbackground;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky; /* Safari */
    top: 0;
    position: sticky;
    height: 80px;
    z-index: 5;
    transition: all 0.5s;
}
.navbar{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.navbar-container {
    background-color: $navbarbackground;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.navbar-element {
    background-color: $navbarbackground;
    position: relative;
    margin: 25px 5px;
}
.navbar-link {
    background-color: $navbarbackground;
    padding: 10px;
    color: #bdc4d8;
}
.navbar-title {
    background-color: $navbarbackground;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.linkbutton {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;

    &:hover {
        background-color: #283a50;
    }
}
